* {
    margin: 0;
    padding: 0;
}

#mealsHolder {
    display: flex;
    flex-wrap: wrap;
}
.mealImage {
    width: 300px;
    margin: 5px;
}

#popup {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
}

#innerPopup {
    margin-top: 20px;
    width: 50%;
    height: auto;
    background-color: white;
    padding: 10px;
}

.cocktailImage {
    width: 300px;
    margin-top: 10px;
}