.hidden {
    display: none;
}

#estates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.realEstate {
    width: 25%;
    height: auto;
    background-color: #a3a3a3;
    padding: 2px;
    margin: 2px;

}

.realEstate * {
    padding-left: 5px;
}