* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.picture {
	background: url(Slike/Lamborghini.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-direction: column;
	text-shadow: 2px 2px 2px black;
}

.buySection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 40px;
}
