* {
    margin: 0;
    padding: 0;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
}

.movieHolder {
    width: 30%;
    padding: 25px;
}

.movieHolder img {
    max-width: 100%;
}